.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

button {
  background-color: #ff3333;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 36px;
}



